*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
    min-height: 100vh;
    width: 100vw;
    background:rgba(149,154,233,0.1) ;
    background-image: url("./bg-top.svg");
    background-repeat: no-repeat;
    background-position: top -5vh left 50vw;
    background-size: auto;
    overflow-x: hidden;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.pricing-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}


.btn-toggle{
    display: inline-block;
    width: 73px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    padding-top: 2px;
    padding-left: 7px;
    margin: 2%;
    background:linear-gradient(to right,hsl(236, 72%, 79%),hsl(237, 63%, 64%))
}

.btn-toggle::before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 200px;
    margin-top: 3px;
    transition: 0.4s;
}


input:checked + .btn-toggle::before{
    transform: translateX(-35px);
}

input{
    display: none;
}

.heading{
    margin-top: 9%;
    color:  hsl(233, 13%, 49%);
    font-size: 1.5rem;
    padding: 20px;
    padding: 6.5%;
}

.annually,.monthly{
    color: hsl(234, 14%, 74%);
    margin:5%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
}

.card{
    width: 85vw;
    min-width: 230px;
    max-width: 372px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: hwb(234 43% 45%);
    margin-bottom: 4vh;
}


.package-heading{
    font-size: 20px;
    color: hsl(233, 13%, 49%);
    margin-top: 4vh;

}

.package-price{
    font-size: 3.5rem;
    color: hsl(232, 13%, 33%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5vh 0;
}

.package-price>span{
    display: inline-block;
    font-size: 2rem;
}

hr{
    width: 80%;
    color: hsl(233, 13%, 49%);
}

.btn-more{
    margin:1.5vh 0 4vh 0;
    height: 50px;
    width: 80%;
    border: 0px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background:linear-gradient(to right,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
}



#master-card{
    color:white;
    background: linear-gradient(to bottom,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
}

#master-card .package-heading,#master-card .package-price{
    color: white;
}

#master-card>.btn-more{
    background: #fff;
    color: hsl(237, 63%, 64%);
}



.btn-more:hover{
    background: #fff;
    border:2px solid hsl(237, 63%, 64%);
    color: hsl(237, 63%, 64%);
}

#master-card>.btn-more:hover{
    color:white;
    border:2px solid white;
    background: linear-gradient(to right,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
}



@media (min-width:1080px){
    body{
        background-image: url("./bg-top.svg"),url("./bg-bottom.svg");
        background-repeat: no-repeat,no-repeat;
        background-position: top left 76vw, bottom left;
        background-size: auto,auto;
        overflow: hidden;
    }

    .heading{
        margin-top:2vh;
        padding: 4vh;
    }


    .card{
        height: 60vh;
        max-height: 480px;  
        max-width: 372px;    
        width: 30vw;
        flex-wrap: nowrap;
    }

    #master-card{
        height: 62vh;
        max-height: 550px;
        padding-top: 2.9vh;
    }

    .annually,.monthly{
        margin:25px;
    }


    
}


@media (min-width:576px) and (max-width:1079px){
    body{
        height: 100%;
        width: 100vw;
        background-image: url("./bg-top.svg"),url("./bg-bottom.svg");
        background-repeat: no-repeat,no-repeat;
        background-position: top left 75vw, bottom left;
        background-size: auto,auto;
        overflow-x: hidden;
    }

    .heading{
        margin-top: 2vh;
        padding: 4vh;

    }

    .cards{
        max-width: 90vw;
        margin:4% 7%;
        gap:5px;
    }

    .card{
        min-height: 40vh;
        max-height: 510px;
    }

    #master-card{
        order:3;
    }

    .annually,.monthly{
        margin:25px;
    }

}

@media (max-width:871px){
    #master-card{
        order:0;
    }
}

@media (min-width:1530px){
    body{
        height: 100vh;
        width: 100vw;
        background-image: url("./bg-top.svg"),url("./bg-bottom.svg");
        background-repeat: no-repeat,no-repeat;
        background-position: top right, bottom left;
        background-size: auto,auto;
        overflow-x: hidden;
    }

    .heading{
        margin-top:2.5vh;
        padding: 3.5vh;
    }

    .cards{
        margin-top: 4%;
    }

    .card{
        height: 60vh;
        max-width: 380px; 
        max-height: 500px;   
        width: 30vw;
    }

    #master-card{
        height: 62vh;
        max-height: 535px;
        padding: 18px;
    }

    .annually,.monthly{
        margin: 28px 25px;
    }

    .package-heading{
        margin-top: 4vh;
    }

    

}




